.footer-container {
  width: 100%;
  height: 100%;  
  background: #111;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;


}
   .hidden {
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
.content-wrapper { 
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

 
}

.footer__left, .footer__right { 
  flex-shrink: 0;
  background-color: #222;
  display: flex;
  align-items: stretch;
  justify-content: center;
  transition: width 0.3s ease;
}

.footer__middle {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.footer-placeholder {
  width: 100%;
  height: 100%; 
  text-align: center; 
  background: rgba(255, 255, 255, 0.1); 
  display: flex;
  align-items: center;
  justify-content: center;
} 