<div class="footer-container" [style.height.px]="layoutService.isDesktopSized() ? 75 : 50">
  <div class="content-wrapper">
    <div class="footer-content">
      <div class="footer__left">
        <!-- Left section content -->
        <div class="footer-placeholder">LEFT</div>
      </div>
      <div class="footer__middle">
        <!-- Middle section content -->
        <div class="footer-placeholder">MIDDLE</div>
      </div>
      <div class="footer__right">
        <!-- Right section content -->
        <div class="footer-placeholder">RIGHT</div>
      </div>
    </div>
  </div>
</div>
